<section class="docs">
	<div class="grid">
		<div class="unit three-quarters">
			<div>
				{{ content }}
			</div>
		</div>
		<div class="unit one-quarter hide-on-mobiles">
			<aside>
				<h4>术</h4>
				<ul>
					<li class>
						<a href="/cplusplus/cplusplus.html">C++</a>
					</li>
					<li class>
						<a href="/python/Python.html">Python</a>
					</li>
					<li class>
						<a href="/mysql/mysql.html">MySQL</a>
					</li>
					<li class>
						<a href="/go/golang.html">Golang</a>
					</li>
					<li class>
						<a href="/redis/redis.html">Redis</a>
					</li>
					<li class>
						<a href="/algorithm/algorithm.html">算法</a>
					</li>
					<li class>
						<a href="/data_structure/data_structure.html">数据结构</a>
					</li>
					<li class>
						<a href="/computer/computer.html">计算机</a>
					</li>
					<li class>
						<a href="/design_pattern/design_pattern.html">设计模式</a>
					</li>
					<li class>
						<a href="/network/network.html">网络</a>
					</li>
					<li class>
						<a href="/service/service.html">组件设计</a>
					</li>
				</ul>
				<h4>思</h4>
				<ul>
					<li class>
						<a href="/note/read-mind.html">读后感</a>
					</li>
					<li class>
						<a href="/code_book_link/code_book_link.html">技术读物</a>
					</li>
					<li class>
						<a href="/perceive/perceive.html">认知</a>
					</li>
				</ul>
				<h4>链</h4>
				<ul>
					<li class>
						<a href="https://www.baidu.com/">百度</a>
					</li>
				</ul>
			</aside>
		</div>
	</div>
</section>