<section class="docs">
	<div class="grid">
		<div class="unit three-quarters">
			<div>
				{{ content }}
			</div>
		</div>
		<div class="unit one-quarter hide-on-mobiles">
			<aside>
				<h4>技术</h4>
				<ul>
					<li class>
						<a href="/cplusplus/cplusplus.html">C++</a>
					</li>
					<li class>
						<a href="/python/Python.html">Python</a>
					</li>
					<li class>
						<a href="/mysql/mysql.html">mysql</a>
					</li>
					<li class>
						<a href="https://www.baidu.com/">redis</a>
					</li>
					<li class>
						<a href="/algorithm/algorithm.html">算法</a>
					</li>
					<li class>
						<a href="/data_structure/data_structure.html">数据结构</a>
					</li>
					<li class>
						<a href="/computer/computer.html">计算机</a>
					</li>
					<li class>
						<a href="/design_pattern/design_pattern.html">设计模式</a>
					</li>
				</ul>
				<h4>读书</h4>
				<ul>
					<li class>
						<a href="https://www.baidu.com/">癌症 新知</a>
					</li>
				</ul>
			</aside>
		</div>
	</div>
</section>